apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordd
  namespace: {{ .Values.global.namespace }}
  labels:
    app: wordd
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: wordd
  template:
    metadata:
      labels:
        app: wordd
    spec:
      containers:
        - name: wordd
          image: "{{ .Values.global.registry }}/wordwank-wordd:{{ .Values.imageTag | default .Values.global.imageTag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 2345
          env:
            - name: RUST_LOG
              value: {{ .Values.global.logLevel | default .Values.logLevel | quote }}
            - name: DEFAULT_RANDOM_WORD_LETTER_COUNT
              value: {{ .Values.global.rackSize | default 7 | quote }}
          command: ["wordd"]
          args:
            - "--share-dir=/app/share"
            - "--langs={{ .Values.langs | default "en,es,fr" }}"
            - "--total-tiles={{ .Values.totalTiles | default .Values.global.totalTiles | default 200 }}"
