apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-wordd
  namespace: {{ .Values.global.namespace }}
  labels:
    app: wordd
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: wordd
  template:
    metadata:
      labels:
        app: wordd
    spec:
      containers:
        - name: wordd
          image: "{{ .Values.global.registry }}/wordwank-wordd:{{ .Values.imageTag | default .Values.global.imageTag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 2345
