apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.global.registry }}/wordwank-frontend:{{ .Values.imageTag | default .Values.global.imageTag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/nginx/html/runtime-config.js
              subPath: runtime-config.js
            - name: locales-volume
              mountPath: /usr/share/nginx/html/locales
      volumes:
        - name: config-volume
          configMap:
            name: frontend-config
        - name: locales-volume
          configMap:
            name: wordwank-locales
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  ports:
    - port: {{ .Values.service.port | default 80 }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: frontend
