apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: {{ .Values.global.namespace }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /tm
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 3000
          - path: /ws
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 3000
          - path: /players
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 3000
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 3000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: {{ .Values.frontend.service.port }}
