{{- if .Values.postgresql.enabled }}
{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgresql-pv
  labels:
    type: local
spec:
  capacity:
    storage: {{ .Values.persistence.size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: postgresql-local
  hostPath:
    path: {{ .Values.persistence.hostBasePath }}/wordwank/postgresql
    type: DirectoryOrCreate
{{- end }}
{{- end }}
