apiVersion: apps/v1
kind: Deployment
metadata:
  name: dictd
  namespace: {{ .Values.global.namespace }}
  labels:
    app: dictd
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: dictd
  template:
    metadata:
      labels:
        app: dictd
    spec:
      containers:
        - name: dictd
          image: "{{ .Values.global.registry }}/wordwank-dictd:{{ .Values.imageTag | default .Values.global.imageTag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 2628
