apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
{{- include "backend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
{{ include "backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
{{ include "backend.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name | quote }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: DATABASE_URL
              value: {{ .Values.database.url | quote }}
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: backend-db-user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: backend-db-pass
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: google-client-id
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: google-client-secret
            - name: DISCORD_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: discord-client-id
            - name: DISCORD_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: discord-client-secret
            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: stripe-secret-key
            - name: ADMIN_DISCORD_WEBHOOK
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: admin-discord-webhook
            - name: ADMIN_SMS_EMAIL
              value: {{ .Values.env.ADMIN_SMS_EMAIL | default "" | quote }}
            - name: MOJO_LISTEN
              value: "http://*:3000"
            - name: MOJO_LOG_LEVEL
              value: {{ .Values.global.logLevel | default .Values.image.logLevel | quote }}
            - name: GAME_DURATION
              value: {{ .Values.global.gameDuration | quote }}
            - name: RACK_SIZE
              value: {{ .Values.global.rackSize | quote }}
            - name: MIN_VOWELS
              value: {{ .Values.global.minVowels | default 1 | quote }}
            - name: MIN_CONSONANTS
              value: {{ .Values.global.minConsonants | default 1 | quote }}
            - name: DEFAULT_LANG
              value: {{ .Values.global.defaultLanguage | default "en" | quote }}
            - name: SHARE_DIR
              value: "/app/share"
            - name: CHAT_HISTORY_SIZE
              value: {{ .Values.global.chatHistorySize | default .Values.env.CHAT_HISTORY_SIZE | default 50 | quote }}
            - name: WORDD_HOST
              value: "wordd"
            - name: WORDD_PORT
              value: "2345"

          volumeMounts:
            - name: locales-volume
              mountPath: /app/share/locale
      volumes:
        - name: locales-volume
          configMap:
            name: wordwank-locales
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
{{- include "backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
{{ include "backend.selectorLabels" . | nindent 4 }}