# DO NOT COMMIT THE ACTUAL secrets.yaml FILE. 
# Copy this to secrets.yaml and fill in your real credentials.

postgresql:
  auth:
    postgresPassword: "change_me_super_secret"
    password: "change_me_backend_db_pass"

wordd: {}
